<?xml version="1.0"?>
<!-- Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Fix for ui_component aht_blog_listing.xml -->
    <!-- Configure our grid collection -->
    <virtualType name="AHT\Blog\Model\ResourceModel\Blog\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aht_blog</argument>
            <argument name="resourceModel" xsi:type="string">AHT\Blog\Model\ResourceModel\Blog</argument>
            <argument name="eventPrefix" xsi:type="string">AHT_Blog_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">field_grid_collection</argument>
        </arguments>
    </virtualType>

    <virtualType name="AHT\Blog\Model\ResourceModel\Comment\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aht_comment</argument>
            <argument name="resourceModel" xsi:type="string">AHT\Blog\Model\ResourceModel\Comment</argument>
            <argument name="eventPrefix" xsi:type="string">AHT_Blog_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">field_grid_collection</argument>
        </arguments>
    </virtualType>

    <!-- register our data source: Dang ky nguon du lieu -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="aht_blog_listing_data_source" xsi:type="string">AHT\Blog\Model\ResourceModel\Blog\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="aht_comment_listing_data_source" xsi:type="string">AHT\Blog\Model\ResourceModel\Comment\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <!-- End Configure -->
    <!-- API -->
    <preference for="AHT\Blog\Api\BlogRepositoryInterface" type="AHT\Blog\Model\BlogRepository" />
    <preference for="AHT\Blog\Api\Data\BlogInterface" type="AHT\Blog\Model\Blog"/>
    <preference for="AHT\Blog\Api\CommentRepositoryInterface" type="AHT\Blog\Model\CommentRepository" />
    <preference for="AHT\Blog\Api\Data\CommentInterface" type="AHT\Blog\Model\Comment"/>

    <!-- Plugin -->
    <type name="AHT\Blog\Model\Blog">
        <plugin name="blog_name1" type="AHT\Blog\Plugin\Blog1" sortOrder="1" />
    </type>
</config>

